<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin: 0"></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"></P>

<!-- Field: Rule-Page --><DIV ALIGN="LEFT" STYLE="margin-top: 12pt; margin-bottom: 3pt"><DIV STYLE="font-size: 1pt; border-top: Black 2pt solid; border-bottom: Black 1pt solid; width: 100%">&nbsp;</DIV></DIV><!-- Field: /Rule-Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>SECURITIES AND EXCHANGE COMMISSION</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>WASHINGTON, D.C. 20549</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>FORM 8-K</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>CURRENT REPORT</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>Pursuant to Section 13 or 15(d) of the<BR>
Securities Exchange Act of 1934</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">Date of report (Date of earliest event reported):
September 14, 2018 (September 14, 2018)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><FONT STYLE="font-size: 14pt"><B><U>PARETEUM
CORPORATION</U></B></FONT></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">(Exact name of registrant as specified in
Charter)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; text-align: center; margin-bottom: 0pt">&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Times New Roman, Times, Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 34%; text-align: center; padding: 0"><FONT STYLE="font-size: 10pt"><U>Delaware</U></FONT></TD>
    <TD STYLE="width: 33%; text-align: center; padding: 0"><FONT STYLE="font-size: 10pt"><U>001-35360</U></FONT></TD>
    <TD STYLE="width: 33%; text-align: center; padding: 0"><FONT STYLE="font-size: 10pt"><U>95-4557538</U></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="text-align: center; padding: 0"><FONT STYLE="font-size: 10pt">(State or other jurisdiction of</FONT><BR>
<FONT STYLE="font-size: 10pt">incorporation)</FONT></TD>
    <TD STYLE="text-align: center; padding: 0"><FONT STYLE="font-size: 10pt">(Commission File Number)</FONT></TD>
    <TD STYLE="text-align: center; padding: 0"><FONT STYLE="font-size: 10pt">(IRS Employer</FONT><BR>
<FONT STYLE="font-size: 10pt">Identification No.)</FONT></TD></TR>
</TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">1185 Avenue of the Americas</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">37th Floor</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><U>New York, NY 10036</U></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">(Address of Principal Executive Offices)
(Zip Code)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">Registrant's telephone number, including
area code: (212) 984-1096</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Check the appropriate box below if the Form 8-K filing is intended
to simultaneously satisfy the filing obligation of the registrant under any of the following provisions (see General Instruction
A.2. below:</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; font-size: 10pt">&uml;</FONT></TD><TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Written communications
pursuant to Rule 425 under the Securities Act (17 CFR 230.425)</FONT></TD>
</TR></TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; font-size: 10pt">&uml;</FONT></TD><TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Soliciting material pursuant
to Rule 14a-12 under the Exchange Act (17 CFR 240.14a-12)</FONT></TD>
</TR></TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; font-size: 10pt">&uml;</FONT></TD><TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Pre-commencement communications
pursuant to Rule 14d-2(b) under the Exchange Act (17 CFR 240.14d-2(b))</FONT></TD>
</TR></TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; font-size: 10pt">&uml;</FONT></TD><TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Pre-commencement communications
pursuant to Rule 13e-4(c) under the Exchange Act (17 CFR 240.13e-4(c))</FONT></TD>
</TR></TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Indicate by check mark whether the registrant is an emerging
growth company as defined in as defined in Rule 405 of the Securities Act of 1933 (&sect;230.405 of this chapter) or Rule 12b2
of the Securities Exchange Act of 1934 (&sect;240.12b2 of this chapter).</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Emerging growth company <FONT STYLE="font-family: Wingdings">&uml;</FONT></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">If an emerging growth company, indicate by check mark if the
registrant has elected not to use the extended transition period for complying with any new or revised financial accounting standards
provided pursuant to Section 13(a) of the Exchange Act. <FONT STYLE="font-family: Wingdings">&uml;</FONT></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"></P>

<!-- Field: Rule-Page --><DIV ALIGN="LEFT" STYLE="margin-top: 3pt; margin-bottom: 12pt"><DIV STYLE="font-size: 1pt; border-top: Black 1pt solid; border-bottom: Black 2pt solid; width: 100%">&nbsp;</DIV></DIV><!-- Field: /Rule-Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"></P>

<!-- Field: Page; Sequence: 1 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"><B>&nbsp;Item 8.01 Other Events</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">On September 14, 2018,
Pareteum Corporation (the &ldquo;Company&rdquo;) together with Artilium Plc (&ldquo;Artilium&rdquo;) announced the results of two
meetings in the United Kingdom (the &ldquo;Results Announcement&rdquo;), a &ldquo;Court Meeting&rdquo; and a &ldquo;General Meeting,&rdquo;
(together the &ldquo;Meetings&rdquo;) regarding the previously disclosed, planned acquisition by the Company of Artilium (the &ldquo;Acquisition&rdquo;).
The Meetings required votes of the existing shareholders of Artilium. At the Court Meeting, 78.43% of the Artilium shareholders
voted in favor of the Acquisition, and during the General meeting, at least 72.99% of the Artilium shareholders voted in favor
of each of the resolutions set out during the General Meeting in favor of the Acquisition. The foregoing is a summary of the Results
Announcement, and is qualified in its entirety by the Announcement &ndash; Recommended Share and Cash Offer for Artilium Plc by
Pareteum Corporation to be effected by Way of a Scheme of Arrangement Under Part 26 of the Companies Act 2006: Results of Shareholder
Meetings, attached as <U>Exhibit 99.1</U> hereto.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"><B>Item 9.01 Financial Statements and Exhibits</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Times New Roman, Times, Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 10%; padding: 0; text-indent: 0"><FONT STYLE="font-size: 10pt"><B>Exhibit</B></FONT></TD>
    <TD STYLE="width: 1%; padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="width: 89%; padding: 0; text-indent: 0">&nbsp;</TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="border-bottom: black 1pt solid; padding: 0; text-indent: 0"><FONT STYLE="font-size: 10pt"><B>No.</B></FONT></TD>
    <TD STYLE="padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="border-bottom: black 1pt solid; padding: 0; text-indent: 0"><FONT STYLE="font-size: 10pt"><B>Description</B></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding: 0; text-indent: 0"><A HREF="tv502915_ex99-1.htm" STYLE="-sec-extract: exhibit"><FONT STYLE="font-size: 10pt">99.1 </FONT></A></TD>
    <TD STYLE="padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="padding: 0; text-indent: 0"><A HREF="tv502915_ex99-1.htm" STYLE="-sec-extract: exhibit"><FONT STYLE="font-size: 10pt">Announcement &ndash; Recommended Share and Cash Offer for Artilium Plc by Pareteum Corporation to be Effected by Way of a Scheme of Arrangement Under Part 26 of the Companies Act 2006: Results of Shareholder Meetings </FONT></A></TD></TR>
</TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 2 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center"><B>SIGNATURES</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">Pursuant to the requirements of the Securities
Exchange Act of 1934, the Registrant has duly caused this Report to be signed on its behalf by the undersigned hereunto duly authorized.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Times New Roman, Times, Serif; width: 100%; background-color: white; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="padding: 0; text-indent: 0"><FONT STYLE="font-size: 10pt"><B>Dated: </B>September 14, 2018</FONT></TD>
    <TD COLSPAN="2" STYLE="padding: 0; text-indent: 0"><FONT STYLE="font-size: 10pt"><B>PARETEUM CORPORATION </B></FONT></TD></TR>
<TR>
    <TD STYLE="vertical-align: top; width: 50%; padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="vertical-align: top; width: 4%; padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="vertical-align: top; width: 46%; padding: 0; text-indent: 0">&nbsp;</TD>
    </TR>
<TR>
    <TD STYLE="vertical-align: top; padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="vertical-align: top; padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="vertical-align: top; padding: 0; text-indent: 0">&nbsp;</TD>
    </TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="text-align: justify; padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="text-align: justify; padding: 0; text-indent: 0"><FONT STYLE="font-size: 10pt">By:&nbsp;&nbsp;</FONT></TD>
    <TD STYLE="border-bottom: black 1pt solid; padding: 0; text-indent: 0"><FONT STYLE="font-size: 10pt">/s/ Edward O&rsquo;Donnell </FONT></TD>
    </TR>
<TR STYLE="vertical-align: top">
    <TD COLSPAN="2" STYLE="text-align: justify; padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="padding: 0; text-align: justify; text-indent: 0"><FONT STYLE="font-size: 10pt">Name: Edward O&rsquo;Donnell</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD COLSPAN="2" STYLE="text-align: justify; padding: 0; text-indent: 0">&nbsp;</TD>
    <TD STYLE="padding: 0; text-align: justify; text-indent: 0"><FONT STYLE="font-size: 10pt">Title: Chief Financial Officer</FONT></TD></TR>
</TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>



<P STYLE="margin: 0"></P>

<!-- Field: Page; Sequence: 3; Options: Last -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="margin: 0"></P>

</BODY>
</HTML>