<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin: 0">&nbsp;<B></B></P>

<!-- Field: Rule-Page --><DIV ALIGN="LEFT" STYLE="margin-top: 12pt; margin-bottom: 3pt"><DIV STYLE="font-size: 1pt; border-top: Black 2pt solid; border-bottom: Black 1pt solid; width: 100%">&nbsp;</DIV></DIV><!-- Field: /Rule-Page -->

<P STYLE="margin: 0"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>SECURITIES AND EXCHANGE COMMISSION</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>WASHINGTON, D.C. 20549</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>FORM 8-K</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>CURRENT REPORT</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>Pursuant to Section 13 or 15(d) of the<BR>
Securities Exchange Act of 1934</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">Date of report (Date of earliest event reported):
September 13, 2018 (September 13, 2018)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><FONT STYLE="font-size: 14pt"><B><U>PARETEUM
CORPORATION</U></B></FONT></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">(Exact name of registrant as specified in
Charter)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Times New Roman, Times, Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 35%; text-align: center"><FONT STYLE="font-size: 10pt"><U>Delaware</U></FONT></TD>
    <TD STYLE="width: 30%; text-align: center"><FONT STYLE="font-size: 10pt"><U>001-35360</U></FONT></TD>
    <TD STYLE="width: 35%; text-align: center"><FONT STYLE="font-size: 10pt"><U>95-4557538</U></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">(State or other jurisdiction of</FONT><BR>
<FONT STYLE="font-size: 10pt">incorporation)</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">(Commission File Number)</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">(IRS Employer</FONT><BR>
<FONT STYLE="font-size: 10pt">Identification No.)</FONT></TD></TR>
</TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center; text-indent: 0.5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">1185 Avenue of the Americas</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">37th Floor</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><U>New York, NY 10036</U></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">(Address of Principal Executive Offices)
(Zip Code)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">Registrant's telephone number, including
area code: (212) 984-1096</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Check the appropriate box below if the Form 8-K filing is intended
to simultaneously satisfy the filing obligation of the registrant under any of the following provisions (see General Instruction
A.2. below:</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; font-size: 10pt">&uml;</FONT></TD><TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Written communications
pursuant to Rule 425 under the Securities Act (17 CFR 230.425)</FONT></TD>
</TR></TABLE>


<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; font-size: 10pt">&uml;</FONT></TD><TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Soliciting material pursuant
to Rule 14a-12 under the Exchange Act (17 CFR 240.14a-12)</FONT></TD>
</TR></TABLE>


<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; font-size: 10pt">&uml;</FONT></TD><TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Pre-commencement communications
pursuant to Rule 14d-2(b) under the Exchange Act (17 CFR 240.14d-2(b))</FONT></TD>
</TR></TABLE>


<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; font-size: 10pt">&uml;</FONT></TD><TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Pre-commencement communications
pursuant to Rule 13e-4(c) under the Exchange Act (17 CFR 240.13e-4(c))</FONT></TD>
</TR></TABLE>


<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Indicate by check mark whether the registrant is an emerging
growth company as defined in as defined in Rule 405 of the Securities Act of 1933 (&sect;230.405 of this chapter) or Rule 12b2
of the Securities Exchange Act of 1934 (&sect;240.12b2 of this chapter).</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Emerging growth company <FONT STYLE="font-family: Wingdings">&uml;</FONT></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">If an emerging growth company, indicate by check mark if the
registrant has elected not to use the extended transition period for complying with any new or revised financial accounting standards
provided pursuant to Section 13(a) of the Exchange Act. <FONT STYLE="font-family: Wingdings">&uml;</FONT></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<!-- Field: Rule-Page --><DIV ALIGN="LEFT" STYLE="margin-top: 3pt; margin-bottom: 12pt"><DIV STYLE="font-size: 1pt; border-top: Black 1pt solid; border-bottom: Black 2pt solid; width: 100%">&nbsp;</DIV></DIV><!-- Field: /Rule-Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 1; Options: NewSection -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"><B>Item 5.07 Submission of Matters to a Vote of Security
Holders.</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">The 2018 Annual Meeting
of Stockholders (the &ldquo;Annual Meeting&rdquo;) of Pareteum Corporation (the &ldquo;Company&rdquo;) was held on September 13,
2018 at 10:00 a.m. EDT. At the Annual Meeting, a total of 47,047,910 shares, or 79.71%, of the Company&rsquo;s capital stock issued
and outstanding as of the record date for the Annual Meeting were represented in person or by proxy. Set forth below is a brief
description of each matter voted upon at the Annual Meeting and the voting results with respect to each matter.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">&nbsp;1) To approve
the issuance of the Company&rsquo;s common stock to shareholders of Artilium plc, a public limited company registered in England
and Wales, in connection with the Company&rsquo;s proposed acquisition of the entire issued and to be issued ordinary shares of
Artilium plc, resulting in the issuance of approximately 37,852,076 new shares of the Company&rsquo;s common stock (the &ldquo;Share
Issuance Proposal&rdquo;)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" ALIGN="CENTER" STYLE="border-collapse: collapse; width: 90%; font: 10pt Times New Roman, Times, Serif">
<TR STYLE="vertical-align: bottom">
    <TD STYLE="font-size: 10pt; font-weight: bold; font-style: italic; text-align: center; border-bottom: Black 1pt solid">Votes For</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Votes Against</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Abstain</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: rgb(204,238,255)">
    <TD STYLE="width: 33%; font-size: 10pt; text-align: center">23,779,436</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 33%; font-size: 10pt; text-align: center">280,249</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 32%; font-size: 10pt; text-align: center">267,201</TD></TR>
</TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">The Share Issuance Proposal was approved.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">2) To elect four directors to serve until
the next annual meeting of stockholders and until their successors are duly elected and qualified.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" ALIGN="CENTER" STYLE="border-collapse: collapse; width: 90%; font: 10pt Times New Roman, Times, Serif">
<TR STYLE="vertical-align: bottom">
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: justify; border-bottom: Black 1pt solid">Nominee</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Votes For</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Against</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Abstain</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: rgb(204,238,255)">
    <TD STYLE="width: 61%; font-size: 10pt; text-align: justify">Robert H. Turner</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 12%; font-size: 10pt; text-align: center">23,496,170</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 12%; font-size: 10pt; text-align: center">615,196</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 12%; font-size: 10pt; text-align: center">215,520</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: White">
    <TD STYLE="font-size: 10pt; text-align: left">Yves van Sante</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">23,246,841</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">888,510</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">191,535</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: rgb(204,238,255)">
    <TD STYLE="font-size: 10pt; text-align: left">Luis Jimenez-Tu&ntilde;on</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">23,211,496</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">847,991</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">267,399</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: White">
    <TD STYLE="font-size: 10pt; text-align: left">Laura Thomas</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">23,498,822</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">661,366</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">166,698</TD></TR>
</TABLE>





<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">The four nominees for director were elected.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">3) To ratify the 2018
Pareteum Corporation Long-Term Incentive Compensation Plan, including the reservation of 8,000,000 shares with a 15% annual increase
to the shares thereunder.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" ALIGN="CENTER" STYLE="border-collapse: collapse; width: 90%; font: 10pt Times New Roman, Times, Serif">
<TR STYLE="vertical-align: bottom">
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Votes For</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Votes Against</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Abstain</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: rgb(204,238,255)">
    <TD STYLE="width: 33%; font-size: 10pt; text-align: center">18,583,458</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 33%; font-size: 10pt; text-align: center">4,961,271</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 32%; font-size: 10pt; text-align: center">782,157</TD></TR>
</TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">The 2018 Pareteum Corporation Long-Term
Incentive Compensation Plan was ratified.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"></P>

<!-- Field: Page; Sequence: 2 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">4) To ratify the appointment
of SquarMilner LLP as the Company&rsquo;s independent registered public accounting firm for the fiscal year ending December 31,
2018.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" ALIGN="CENTER" STYLE="border-collapse: collapse; width: 90%; font: 10pt Times New Roman, Times, Serif">
<TR STYLE="vertical-align: bottom">
    <TD STYLE="font-size: 10pt; font-weight: bold; font-style: italic; text-align: center; border-bottom: Black 1pt solid">Votes For</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Votes Against</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Abstain</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: rgb(204,238,255)">
    <TD STYLE="width: 33%; font-size: 10pt; text-align: center">44,494,732</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 33%; font-size: 10pt; text-align: center">1,218,801</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 32%; font-size: 10pt; text-align: center">1,334,077</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: White">
    <TD STYLE="font-size: 10pt">&nbsp;</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt">&nbsp;</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt">&nbsp;</TD></TR>
</TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">The appointment of SquarMilner LLP was approved.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">5) To approve, on a
non-binding advisory basis, the compensation of our named executive officers (the &ldquo;Say-on-Pay Proposal&rdquo;).</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" ALIGN="CENTER" STYLE="border-collapse: collapse; width: 90%; font: 10pt Times New Roman, Times, Serif">
<TR STYLE="vertical-align: bottom">
    <TD STYLE="font-size: 10pt; font-weight: bold; font-style: italic; text-align: center; border-bottom: Black 1pt solid">Votes For</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Votes Against</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Abstain</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: rgb(204,238,255)">
    <TD STYLE="width: 33%; font-size: 10pt; text-align: center">21,463,133</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 33%; font-size: 10pt; text-align: center">2,091,005</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 32%; font-size: 10pt; text-align: center">772,748</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: White">
    <TD STYLE="font-size: 10pt">&nbsp;</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt">&nbsp;</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt">&nbsp;</TD></TR>
</TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">The Say-on-Pay Proposal was approved.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">&nbsp;&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">6) To recommend, on
a non-binding advisory basis, the frequency of future advisory votes on the compensation of our named executive officers (the &ldquo;Say-on-Frequency
Proposal&rdquo;).</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" ALIGN="CENTER" STYLE="border-collapse: collapse; width: 90%; font: 10pt Times New Roman, Times, Serif">
<TR STYLE="vertical-align: bottom">
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">One Year</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Two Years</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Three Years</TD><TD STYLE="font-size: 10pt; font-weight: bold; padding-bottom: 1pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; font-weight: bold; text-align: center; border-bottom: Black 1pt solid">Abstain</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: rgb(204,238,255)">
    <TD STYLE="width: 25%; font-size: 10pt; text-align: center">7,231,659</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 24%; font-size: 10pt; text-align: center">731,785</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 24%; font-size: 10pt; text-align: center">15,044,044</TD><TD STYLE="width: 1%; font-size: 10pt">&nbsp;</TD>
    <TD STYLE="width: 24%; font-size: 10pt; text-align: center">1,319,398</TD></TR>
<TR STYLE="vertical-align: bottom; background-color: White">
    <TD STYLE="font-size: 10pt">&nbsp;</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">&nbsp;</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">&nbsp;</TD><TD STYLE="font-size: 10pt">&nbsp;</TD>
    <TD STYLE="font-size: 10pt; text-align: center">&nbsp;</TD></TR>
</TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">The recommended frequency of future votes
on executive compensation pursuant to the Say-on-Frequency Proposal was three years.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">7) The proposal to adjourn the Annual Meeting
was not necessary or appropriate because there were sufficient votes to approve the Share Issuance Proposal and other proposals.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;&nbsp;</P>


<!-- Field: Page; Sequence: 3 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"><B>&nbsp;Item 8.01 Other Events</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">On September 13, 2018, the Company issued
a letter from Robert H. Turner, Executive Chairman and Principal Executive Officer of the Company (the &ldquo;Chairman&rsquo;s
Letter&rdquo;) announcing the results of the Annual Meeting. A copy of the press release is attached hereto as Exhibit 99.1 and
is incorporated by reference.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in">On September 13, 2018, the Company issued
an announcement in the United Kingdom regarding the planned acquisition by the Company of Artilium plc (the &ldquo;Acquisition&rdquo;)
and the two meetings of Artilium plc shareholders to take place September 14, 2018 in connection with the Acquisition as prescribed
by the Court-sanctioned scheme of arrangement under Part 26 of the UK Companies Act 2006. A copy of the Company&rsquo;s announcement
is attached hereto as Exhibit 99.2 and is incorporated by reference.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"><B>Item 9.01 Financial Statements and Exhibits</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Times New Roman, Times, Serif; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 10%; padding: 0; text-indent: 0"><FONT STYLE="font-size: 10pt"><B>Exhibit</B></FONT></TD>
    <TD STYLE="width: 2%">&nbsp;</TD>
    <TD STYLE="width: 88%; padding: 0; text-indent: 0">&nbsp;</TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding: 0; text-indent: 0; border-bottom: Black 1pt solid"><FONT STYLE="font-size: 10pt"><B>No.</B></FONT></TD>
    <TD>&nbsp;</TD>
    <TD STYLE="padding: 0; text-indent: 0; border-bottom: Black 1pt solid"><FONT STYLE="font-size: 10pt"><B>Description</B></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding: 0; text-indent: 0"><A HREF="tv502850_ex99-1.htm"><FONT STYLE="font-size: 10pt">99.1</FONT></A></TD>
    <TD>&nbsp;</TD>
    <TD STYLE="padding: 0; text-indent: 0"><A HREF="tv502850_ex99-1.htm"><FONT STYLE="font-size: 10pt">Chairman&rsquo;s Letter: Pareteum Announces Favorable Shareholders&rsquo; Vote Chairman&rsquo;s Update Letter Details Company Progress, September 13, 2018 </FONT></A></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding: 0; text-indent: 0"><A HREF="tv502850_ex99-2.htm"><FONT STYLE="font-size: 10pt">99.2</FONT></A></TD>
    <TD>&nbsp;</TD>
    <TD STYLE="padding: 0; text-indent: 0"><A HREF="tv502850_ex99-2.htm"><FONT STYLE="font-size: 10pt">Announcement: Recommend Share and Cash Offer for Artilium plc by Pareteum Corporation, Pareteum Stockholder Meeting, September 13, 2018 </FONT></A></TD></TR>
</TABLE>


<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"></P>

<!-- Field: Page; Sequence: 4 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><B>Forward looking statements</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">This Report includes forward-looking statements
within the meaning of Section 27A of the Securities Act and Section 21E of the Exchange Act. These forward-looking statements are
based on current expectations and projections about future events. Pareteum&rsquo;s actual results may differ materially from those
discussed herein, or implied by, these forward-looking statements. Forward-looking statements are generally identified by words
such as &ldquo;believe,&rdquo; &ldquo;expect,&rdquo; &ldquo;anticipate,&rdquo; &ldquo;intend,&rdquo; &ldquo;estimate,&rdquo; &ldquo;plan,&rdquo;
 &ldquo;project,&rdquo; &ldquo;should,&rdquo; &ldquo;will,&rdquo; &ldquo;would,&rdquo; &ldquo;could,&rdquo; &ldquo;continue,&rdquo;
 &ldquo;likely&rdquo; or the negative or plural of such words and other similar expressions. In addition, any statements that refer
to expectations or other characterizations of future events or circumstances are forward-looking statements. The statements that
contain these or similar words should be read carefully because these statements discuss Pareteum&rsquo;s future expectations,
contain projections of Pareteum&rsquo;s future results of operations or of Pareteum&rsquo;s financial position, business strategy,
short-term and long-term business operations and objectives, financial needs and other &ldquo;forward-looking&rdquo; information.
These forward-looking statements are subject to a number of risks, uncertainties and assumptions, including, without limitation:
the risk that the acquisition is not completed on a timely basis or at all; the ability to integrate Artilium into Pareteum&rsquo;s
business successfully and the amount of time and expense spent and incurred in connection with the integration; the possibility
that competing offers will be made; the risk that the economic benefits and other synergies that Pareteum&rsquo;s management anticipates
as a result of the acquisition are not fully realized or take longer to realize than expected; the risk that certain risks and
liabilities associated with the acquisition have not been discovered; the risk that the approval of Artilium shareholders of the
acquisition may not be obtained or that other conditions of the acquisition will not be satisfied; changes in global or local political,
economic, business, competitive, market and regulatory forces; changes in exchange and interest rates; changes in tax and other
laws or regulations; future business combinations or disposals; operating costs, customer loss and business disruption (including
difficulties in maintaining relationships with employees, customers or suppliers) occurring prior to completion of the acquisition
or if the acquisition is not completed at all; changes in the market price of shares of Pareteum or Artilium; and changes in the
economic and financial conditions of the businesses of Pareteum or Artilium.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">The foregoing does not represent an exhaustive
list of risks. Additional factors are described in Pareteum&rsquo;s public filings with the SEC, and other factors are described
in Pareteum&rsquo;s proxy statement for its 2018 annual meeting of stockholders, which was filed with the U.S. Securities and Exchange
commission on August 3, 2018. Moreover, Pareteum operates in a very competitive and rapidly changing environment. New risks emerge
from time to time. It is not possible for Pareteum&rsquo;s management to predict all risks, nor can Pareteum assess the impact
of all factors on its business or the extent to which any factor, or combination of factors, may cause actual results to differ
materially from those contained in any forward-looking statements Pareteum may make. In light of these risks, uncertainties and
assumptions, the future events and trends discussed in this Report may not occur and actual results could differ materially and
adversely from those anticipated or implied in the information in this Report.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">Any forward-looking statements in this
Report are not guarantees of future performance, and actual results, developments and business decisions may differ from those
contemplated by those forward-looking statements, possibly materially. Accordingly, you should not place undue reliance on any
such forward-looking statements. All forward-looking statements included in this Report are based on information available to Pareteum
management on the date of such information. Except to the extent required by applicable laws or rules, Pareteum undertakes no obligation
to publicly update or revise any forward-looking statement, whether as a result of new information, future events or otherwise.
All subsequent written and oral forward-looking statements attributable to Pareteum or persons acting on its behalf are expressly
qualified in their entirety by the cautionary statements contained throughout this Report.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"></P>

<!-- Field: Page; Sequence: 5 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center"><B>SIGNATURES</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">Pursuant to the requirements of the Securities
Exchange Act of 1934, the Registrant has duly caused this Report to be signed on its behalf by the undersigned hereunto duly authorized.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Times New Roman, Times, Serif; width: 100%; background-color: white; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="font-size: 10pt"><B>Dated: </B>September 13, 2018</FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt"><B>PARETEUM CORPORATION </B></FONT></TD></TR>
<TR>
    <TD STYLE="vertical-align: top; width: 50%">&nbsp;</TD>
    <TD STYLE="vertical-align: top; width: 3%">&nbsp;</TD>
    <TD STYLE="vertical-align: top; width: 30%">&nbsp;</TD>
    <TD STYLE="width: 17%">&nbsp;</TD></TR>
<TR>
    <TD STYLE="vertical-align: top">&nbsp;</TD>
    <TD STYLE="vertical-align: top">&nbsp;</TD>
    <TD STYLE="vertical-align: top">&nbsp;</TD>
    <TD>&nbsp;</TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="text-align: justify">&nbsp;</TD>
    <TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">By:&nbsp;&nbsp;</FONT></TD>
    <TD STYLE="border-bottom: black 1pt solid"><FONT STYLE="font-size: 10pt">/s/ Edward O&rsquo;Donnell </FONT></TD>
    <TD>&nbsp;</TD></TR>
<TR STYLE="vertical-align: top">
    <TD COLSPAN="2" STYLE="text-align: justify">&nbsp;</TD>
    <TD COLSPAN="2" STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Name: Edward O&rsquo;Donnell</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD COLSPAN="2" STYLE="text-align: justify">&nbsp;</TD>
    <TD COLSPAN="2" STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Title: Chief Financial Officer</FONT></TD></TR>
</TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"></P>

<!-- Field: Page; Sequence: 6; Options: Last -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>



<P STYLE="margin: 0"></P>

</BODY>
</HTML>