<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin-top: 0; text-align: center; margin-bottom: 0">&nbsp;</P>

<!-- Field: Rule-Page --><DIV ALIGN="LEFT" STYLE="margin-top: 12pt; margin-bottom: 3pt"><DIV STYLE="font-size: 1pt; border-top: Black 2pt solid; border-bottom: Black 1pt solid; width: 100%">&nbsp;</DIV></DIV><!-- Field: /Rule-Page -->

<P STYLE="margin-top: 0; text-align: center; margin-bottom: 0"></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>SECURITIES AND EXCHANGE COMMISSION</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>WASHINGTON, D.C. 20549</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;<B>FORM 8-K</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>CURRENT REPORT</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>Pursuant to Section 13 or 15(d) of the<BR>
Securities Exchange Act of 1934</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">Date of report (Date of earliest event reported):
August 6, 2018</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B>&nbsp;</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><B><U>PARETEUM CORPORATION</U></B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">(Exact name of registrant as specified in
Charter)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Times New Roman, Times, Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 33%; text-align: center"><FONT STYLE="font-size: 10pt"><U>Delaware</U></FONT></TD>
    <TD STYLE="width: 34%; text-align: center"><FONT STYLE="font-size: 10pt"><U>001-35360</U></FONT></TD>
    <TD STYLE="width: 33%; text-align: center"><FONT STYLE="font-size: 10pt"><U>95-4557538</U></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">(State or other jurisdiction of</FONT><BR>
<FONT STYLE="font-size: 10pt">incorporation)</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">(Commission File Number)</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">(IRS Employer</FONT><BR>
<FONT STYLE="font-size: 10pt">Identification No.)</FONT></TD></TR>
</TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center; text-indent: 0.5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">1185 Avenue of the Americas, 37<SUP>th</SUP>
Floor</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><U>New York, NY 10036</U></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">(Address of Principal Executive Offices)
(Zip Code)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">Registrant&rsquo;s telephone number, including
area code: (212) 984-1096</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">(Former Name or Former Address, if Changed
Since Last Report)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">Check the appropriate box below if the
Form 8-K filing is intended to simultaneously satisfy the filing obligation of the registrant under any of the following provisions
(see General Instruction A.2. below:</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><FONT STYLE="font-family: Wingdings">&uml;</FONT>&nbsp;&nbsp;&nbsp;Written
communications pursuant to Rule 425 under the Securities Act (17 CFR 230.425)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><FONT STYLE="font-family: Wingdings">&uml;</FONT>&nbsp;&nbsp;&nbsp;Soliciting
material pursuant to Rule 14a-12 under the Exchange Act (17 CFR 240.14a-12)</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><FONT STYLE="font-family: Wingdings">&uml;</FONT>&nbsp;&nbsp;&nbsp;Pre-commencement
communications pursuant to Rule 14d-2(b) under the Exchange Act (17 CFR 240.14d-2(b))</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><FONT STYLE="font-family: Wingdings">&uml;</FONT>&nbsp;&nbsp;&nbsp;Pre-commencement
communications pursuant to Rule 13e-4(c) under the Exchange Act (17 CFR 240.13e-4(c))</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">Indicate by check mark whether the registrant
is an emerging growth company as defined in as defined in Rule 405 of the Securities Act of 1933 (&sect;230.405 of this chapter)
or Rule 12b2 of the Securities Exchange Act of 1934 (&sect;240.12b2 of this chapter).</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">Emerging growth company <FONT STYLE="font-family: Wingdings">&uml;</FONT></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">If an emerging growth company, indicate
by check mark if the registrant has elected not to use the extended transition period for complying with any new or revised financial
accounting standards provided pursuant to Section 13(a) of the Exchange Act. <FONT STYLE="font-family: Wingdings">&uml;</FONT></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<!-- Field: Rule-Page --><DIV ALIGN="LEFT" STYLE="margin-top: 3pt; margin-bottom: 12pt"><DIV STYLE="font-size: 1pt; border-top: Black 1pt solid; border-bottom: Black 2pt solid; width: 100%">&nbsp;</DIV></DIV><!-- Field: /Rule-Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 1 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0"></TD><TD STYLE="width: 1in"><B>Item 1.01.</B></TD><TD><B>Entry into a Material Definitive Agreement </B>&nbsp;</TD></TR></TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">On August 6, 2018, Pareteum Corporation
(the &ldquo;Company&rdquo;) entered into an Increased Independent Director Duties &amp; Fee Proposal Agreement (the &ldquo;Agreement&rdquo;)
between the Company and Mr. Yves van Sante, an independent director of the Company. The Agreement provides for certain compensation
to be paid to Mr. van Sante, including the following:&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0.5in"></TD><TD STYLE="width: 0.25in">-</TD><TD>$105,000 to be paid to Mr. van Sante in consideration of his current duties and annual remuneration;</TD></TR></TABLE>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0.5in"></TD><TD STYLE="width: 0.25in">-</TD><TD>$75,000 to be paid to Mr. van Sante in consideration of his performance of additional duties relating to Pareteum&rsquo;s forecasted
future global operations in Asia and Europe; and</TD></TR></TABLE>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0.5in"></TD><TD STYLE="width: 0.25in">-</TD><TD>$120,000 to be paid to Mr. van Sante in common stock of the Company, having a par value of $0.00001 per share, as a one-off
extraordinary service bonus award in consideration of extraordinary service to the Company during 2017 and 2018.</TD></TR></TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">A copy of the Agreement is attached as <A HREF="tv500718_ex10-1.htm">Exhibit 10.1</A> hereto and is incorporated herein by reference. The foregoing descriptions of the Agreement do not purport to be complete
and are qualified in their entirety by reference to such exhibits.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in">&nbsp;</P>


<!-- Field: Page; Sequence: 2 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center"><B>SIGNATURES</B></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">Pursuant to the requirements of the Securities
Exchange Act of 1934, the Registrant has duly caused this Report to be signed on its behalf by the undersigned hereunto duly authorized.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Times New Roman, Times, Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="font-size: 10pt"><B>Dated: </B>August 10, 2018</FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt"><B>PARETEUM CORPORATION </B></FONT></TD></TR>
<TR>
    <TD STYLE="vertical-align: top; width: 53%">&nbsp;</TD>
    <TD STYLE="vertical-align: top; width: 2%">&nbsp;</TD>
    <TD STYLE="vertical-align: top; width: 30%">&nbsp;</TD>
    <TD STYLE="width: 15%">&nbsp;</TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="text-align: justify">&nbsp;</TD>
    <TD STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">By:&nbsp;&nbsp;</FONT></TD>
    <TD STYLE="border-bottom: black 1pt solid"><FONT STYLE="font-size: 10pt">/s/ Edward O&rsquo;Donnell</FONT></TD>
    <TD>&nbsp;</TD></TR>
<TR STYLE="vertical-align: top">
    <TD COLSPAN="2" STYLE="text-align: justify">&nbsp;</TD>
    <TD COLSPAN="2" STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Name: Edward O&rsquo;Donnell</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD COLSPAN="2" STYLE="text-align: justify">&nbsp;</TD>
    <TD COLSPAN="2" STYLE="text-align: justify"><FONT STYLE="font-size: 10pt">Title: Chief Financial Officer</FONT></TD></TR>
</TABLE>
<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0"></P>

<!-- Field: Page; Sequence: 3; Options: Last -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>



<P STYLE="margin: 0"></P>

</BODY>
</HTML>