<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin: 0">&nbsp;</P>

<P STYLE="margin: 0"><IMG SRC="image_001.jpg" ALT="">&nbsp;</P>

<P STYLE="margin: 0"></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 5in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; text-align: center; margin-bottom: 0pt">July 12, 2018</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">United States Securities and Exchange Commission</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Division of Corporation Finance</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">100 F Street, N.E.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Washington, D.C. 20549</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 1in; text-align: left">Attention:</TD><TD STYLE="text-align: justify">Katherine Wray, Staff Attorney</TD>
</TR></TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-indent: 0.5in">Matthew Derby, Staff Attorney</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 1in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 1in">Re: PARETEUM Corp.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 1in">Registration Statement on Form S-3</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 1in">Filed June 12, 2018</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 1in">File No. 333-225574</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 1in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">Ladies and Gentlemen:</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">On behalf of Pareteum Corporation (the
&ldquo;Company&rdquo;), please accept this letter as the Company&rsquo;s response to the comments of the reviewing Staff of the
Securities and Exchange Commission (the &ldquo;Staff&rdquo;) in connection with the above-referenced submission as set forth in
the comment letter of July 9, 2018. For ease of reference, the Staff&rsquo;s comments are repeated below and are followed by the
Company&rsquo;s responses, in italics.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><U>Form S-3 </U></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><U>General</U></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We
note that you are registering the resale of shares of common stock underlying warrants that were issued to certain investors in
an unregistered offering in December 2017. You disclose that you concurrently conducted a registered direct offering of common
stock to these same investors. Please provide us with your analysis as to whether the December 2017 concurrent registered and unregistered
offerings should be integrated, and whether the investors were solicited by means of the registration statement or some other means.
Refer to SEC Release No. 33-8828.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I><U>Response:</U></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The 2017 concurrent registered and unregistered
offerings should not be integrated. </I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center">1185 Avenue of the Americas <FONT STYLE="color: #548DD4">|</FONT>
37<SUP>th</SUP> Floor <FONT STYLE="color: #548DD4">|</FONT> New York, NY <FONT STYLE="color: #548DD4">|</FONT> 10036</P>

<P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt">T (212) 930 9700 <FONT STYLE="color: #548DD4">|</FONT> F (212) 930 9725 <FONT STYLE="color: #548DD4">|
<B>WWW.SRFKLLP.COM</B></FONT></P>



<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<!-- Field: Page; Sequence: 1 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>As the SEC has stated in Release No.
33-8828 (emphasis added):</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>the filing of a registration statement
does not, per se, eliminate a company&rsquo;s ability to conduct a concurrent private offering, whether it is commenced before
or after the filing of the registration statement. Further, the determination as to whether the filing of the registration statement
should be considered to be a general solicitation or general advertising that would affect the availability of the Section 4(2)
exemption for such a concurrent unregistered offering should be based on a consideration of whether the investors in the private
placement were solicited by the registration statement or through some other means that would otherwise not foreclose the availability
of the Section 4(2) exemption. This analysis should not focus exclusively on the nature of the investors, such as whether they
are &ldquo;qualified institutional buyers&rdquo; as defined in Securities Act Rule 144A or institutional accredited investors,
or the number of such investors participating in the offering; instead, companies and their counsel should analyze whether the
offering is exempt under Section 4(2) on its own, including whether securities were offered and sold to the private placement
investors through the means of a general solicitation in the form of the registration statement. For example, if a company files
a registration statement and then seeks to offer and sell securities without registration to an investor that became interested
in the purportedly private offering by means of the registration statement, then the Section 4(2) exemption would not be available
for that offering. On the other hand, <B>if the prospective private placement investor became interested in the concurrent private
placement through some means other than the registration statement that did not involve a general solicitation and otherwise was
consistent with Section 4(2), such as through a substantive, pre-existing relationship with the company or direct contact by the
company or its agents outside of the public offering effort, then the prior filing of the registration statement generally would
not impact the potential availability of the Section 4(2) exemption for that private placement and the private placement could
be conducted while the registration statement for the public offering was on file with the Commission. </B></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The investors for the Company&rsquo;s
private placement of warrants were not solicited through the Company&rsquo;s registration statement, but rather were contacted
by Dawson James Securities, Inc., who has a preexisting relationship with such investors and served as the Company&rsquo;s placement
agent for the offering, outside of the public offering effort. </I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For
your December 2017 registered offering of common stock, you appear to have relied upon General Instruction I.B.6 to Form S-3, which
limits the amount of securities you may sell by requiring that the aggregate market value of securities sold by the company pursuant
to Instruction I.B.6. during the 12-month period prior to, and including, the sale is no more than one-third of the aggregate market
value of your common equity held by non-affiliates. In this regard, we note that your prospectus supplement to Form S- 3 (file
no. 333-213575) filed on December 1, 2017, relating to your offering of 7,151,146 shares of common stock, discloses that as of
the date of filing, the aggregate market value of your outstanding common equity held by non-affiliates was approximately $41,416,576
and that you had sold $13,003,957 in securities pursuant to General Instruction I.B.6 during the prior 12-calendar month period.
Please provide us with a detailed analysis regarding whether your December 2017 registered offering was, and whether the resale
offering you are currently seeking to register is, consistent with General Instruction I.B.6 to Form S-3. Refer to Securities Act
Forms Compliance and Disclosure Interpretations 116.22 and 116.25 for guidance.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I><U>Response:</U></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I><U>Compliance of December 2017 registered
offering with General Instruction I.B.6 to Form S-3</U></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 327.45pt">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The Company&rsquo;s December 2017 registered
offering was consistent with General Instruction I.B.6 to Form S-3 because the aggregate market value of securities sold by the
Company pursuant to Instruction I.B.6. during the 12-month period prior to, and including, the sale was not more than one-third
of the aggregate market value of the Company&rsquo;s common equity held by non-affiliates.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The Company&rsquo;s public float as
of December 1, 2017 was equal to $41,416,576, based on 35,773,620 outstanding shares, 28,761,511 of which were held by non-affiliates,
and a price of $1.44, which was the closing price of the common stock on October 2, 2017. One-third of such amount is equal to
$13,805,525.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">1185 Avenue of the Americas <FONT STYLE="color: #548DD4">|</FONT>
37<SUP>th</SUP> Floor <FONT STYLE="color: #548DD4">|</FONT> New York, NY <FONT STYLE="color: #548DD4">|</FONT> 10036</P>

<P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt">T (212) 930 9700 <FONT STYLE="color: #548DD4">|</FONT> F (212) 930 9725 <FONT STYLE="color: #548DD4">|
<B>WWW.SRFKLLP.COM</B></FONT></P>



<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"></P>

<!-- Field: Page; Sequence: 2 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The aggregate market value of securities
sold by the Company pursuant to Instruction I.B.6. during the 12-month period prior to, and including, the sale was equal to $12,995,305,
determined by adding the following amounts:</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0.5in"></TD><TD STYLE="width: 0.25in; text-align: left"><I>&bull;</I></TD><TD STYLE="text-align: justify"><I>$6,579,054 for securities sold in December 2017
offering;</I></TD>
</TR></TABLE>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0.5in"></TD><TD STYLE="width: 0.25in; text-align: left"><I>&bull;</I></TD><TD STYLE="text-align: justify"><I>$1,569,750 for securities sold in October 2017 offering;</I></TD>
</TR></TABLE>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0.5in"></TD><TD STYLE="width: 0.25in; text-align: left"><I>&bull;</I></TD><TD STYLE="text-align: justify"><I>$3,500,001 for common stock sold in March 2017 offering;
and</I></TD>
</TR></TABLE>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; width: 100%"><TR STYLE="vertical-align: top; text-align: justify">
<TD STYLE="width: 0.5in"></TD><TD STYLE="width: 0.25in; text-align: left"><I>&bull;</I></TD><TD STYLE="text-align: justify"><I>$1,346,500 for warrants sold in March 2017 offering.</I></TD>
</TR></TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The warrants sold in the March 2017
offering consisted of (i) 1,150,000 warrants that were exercised on July 17, 2017 pursuant to a warrant exercise agreement between
the Company and the holders (see the Company&rsquo;s 8-K filed on July 17, 2017); and (ii) 16,667 warrants that remained outstanding
as of December 1, 2017.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The instructions to Form S-3 provide
that, &ldquo;in the case of derivative securities convertible into or exercisable for shares of the registrant&rsquo;s common equity,
registrants shall calculate the aggregate market value of any underlying equity shares in lieu of the market value of the derivative
securities. The aggregate market value of the underlying equity shall be calculated by multiplying the maximum number of common
equity shares into which the derivative securities are convertible or for which they are exercisable as of a date within 60 days
prior to the date of sale, by the same per share market price of the registrant&rsquo;s equity used for purposes of calculating
the aggregate market value of the registrant&rsquo;s outstanding voting and non-voting common equity pursuant to Instruction 1
to General Instruction I.B.6. If the derivative securities have been converted or exercised, the aggregate market value of the
underlying equity shall be calculated by multiplying the actual number of shares into which the securities were converted or received
upon exercise, by the market price of such shares on the date of conversion or exercise.&rdquo;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The 16,667 warrants that remained outstanding
as of December 1, 2017 would thus be valued at $24,000, based on a price of $1.44, which was the market price used for purposes
of calculating the aggregate market value of the Company&rsquo;s outstanding common equity pursuant to Instruction 1 to General
Instruction I.B.6.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The 1,150,000 warrants that were exercised
on July 17, 2017, would be valued at $1,322,500, based on the closing price of $1.15 on July 17, 2017.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The aggregate value of the warrants
from the March 2017 offering is thus equal to $1,322,500 plus $24,000 equals $1,346,500.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>The aggregate market value for securities
sold by the Company pursuant to General Instruction I.B.6 during the 12 month period ending on the date of sale for the December
2017 offering was thus equal to $12,995,305. The aggregate market value of $13,003,957 disclosed in the prospectus supplement was
a minor immaterial calculation error that does not affect the offering&rsquo;s compliance with General Instruction I.B.6 of Form
S-3</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I><U>Compliance of resale offering with
General Instruction I.B.6 to Form S-3</U></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>Securities Act Forms Compliance and
Disclosure Interpretations116.25 provides that, when an issuer with less than $75 million in public float that is eligible to use
Form S-3 for a primary offering in reliance on Instruction I.B.6, sells securities to the same investors, with a portion coming
from a takedown from its shelf registration statement for which it is relying on Instruction I.B.6 and a portion coming from a
separate private placement, such &ldquo;issuer may not rely on Instruction I.B.3 to register the resale of the balance of the securities
on Form S-3 unless it has sufficient capacity under Instruction I.B.6 to issue that amount of securities at the time of filing
the resale registration statement.&rdquo;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center">1185 Avenue of the Americas <FONT STYLE="color: #548DD4">|</FONT>
37<SUP>th</SUP> Floor <FONT STYLE="color: #548DD4">|</FONT> New York, NY <FONT STYLE="color: #548DD4">|</FONT> 10036</P>

<P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt">T (212) 930 9700 <FONT STYLE="color: #548DD4">|</FONT> F (212)
930 9725 <FONT STYLE="color: #548DD4">| <B>WWW.SRFKLLP.COM</B></FONT><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<!-- Field: Page; Sequence: 3 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>As of June 12, 2018, the date the Company&rsquo;s
filed the S-3 for the resale offering, the Company&rsquo;s public float was equal to $129,544,919, based on 54,815,195 shares outstanding,
52,875,477 of which were held by non-affiliates, and a price of $2.45, which was the closing price of the common stock on June
11, 2018.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>Because at the time the Company filed
its S-3 registration statement, the Company&rsquo;s public float exceeded $75 million, the Company was not subject to the I.B.6
limitations and thus the resale offering has been made in compliance with General Instruction I.B.6.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We
note your Form 8-K filed June 7, 2018, disclosing your potential acquisition of Artilium plc. Please advise whether this acquisition
is probable, and if so, tell us what the significance of this acquisition will be to your business for purposes of Rule 3-05(b)(4)(i)
of Regulation S-X. In this regard, we note that if such acquisition will be more than 50% significant, it appears you would be
required to include or incorporate by reference the information required by Rule 3-05 and Article 11 of Regulation S-X before your
registration statement is declared effective. See Item 11(b)(i) of Form S-3, and Item 3-05(a)(i) and Article 11-01(a)(2) of Regulation
S-X.</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I><U>Response:</U></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>In determining whether financial statements
would be required for the potential acquisition of Artilium plc (&ldquo;Artilium&rdquo;) disclosed in the Company&rsquo;s Form
8-K filed June 7, 2018, the Company considered whether the proposed acquisition is &ldquo;probable&rdquo; within the meaning of
Financial Reporting Manual (&ldquo;FRM&rdquo;) Section 2005.4. Under FRM Section 2005.4 an assessment of probability requires consideration
of &ldquo;all available facts.&rdquo; The Company determined, based on all available facts, that such acquisition is not probable
under Rule 3-05 of Regulation S-X. The factors considered by the Company to determine probability include the following: </I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pareteum
and Artilium have not entered into a formal stock purchase agreement, asset purchase agreement, intellectual property purchase
agreement, or any similar such agreement by any other name;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>(ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pareteum
stockholder approval is a condition precedent to the potential acquisition, and therefore Pareteum must obtain approval of the
acquisition together with a share issuance proposal, from the Pareteum stockholders at the 2018 annual meeting of stockholders
to be held on or about September 13, 2018;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>(iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
High Court of Justice of England and Wales must approve the scheme of arrangement between Artilium and the Artilium Shareholders
(the &ldquo;Court-Approved Scheme&rdquo;), and an official copy of such approval must be delivered to the Registrar of Companies
in England and Wales. </I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>(iv)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
Court-Approved Scheme must be approved by a vote of no less than 75% of Artilium shareholders entitled to vote on the Court-Approved
Scheme, at a meeting convened by order of the High Court of Justice of England and Wales</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I></I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">1185 Avenue of the Americas <FONT STYLE="color: #548DD4">|</FONT>
37<SUP>th</SUP> Floor <FONT STYLE="color: #548DD4">|</FONT> New York, NY <FONT STYLE="color: #548DD4">|</FONT> 10036</P>

<P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt">T (212) 930 9700 <FONT STYLE="color: #548DD4">|</FONT> F (212) 930 9725 <FONT STYLE="color: #548DD4">|
<B>WWW.SRFKLLP.COM</B></FONT>&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"></P>

<!-- Field: Page; Sequence: 4 -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 12pt"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>(v)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resolutions
in connection with, among other things, the approval of the Court-Approved Scheme, the amendment of Artilium&rsquo;s articles of
association and the approval of the management arrangement between Pareteum and Artilium, must pass a vote of the requisite majority
of independent Artilium stockholders and </I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0 0pt 0.5in; text-align: justify"><I>(vi)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NYSE
American LLC must approve the listing of the &ldquo;New Pareteum Shares,&rdquo; which are shares of Pareteum common stock which
Artilium shareholders would be entitled to receive under the terms of the acquisition. </I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>Further, FRM 2005.4 notes that an acquisition
may be probable where a registrant&rsquo;s financial statements alone would not provide investors with adequate financial information.
However, the Company believes its financials and associated notes provide the Pareteum investors with adequate financial information
standing alone. </I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>Based on the foregoing, the Company
has determined that the potential acquisition of Artilium is not probable. Probability is a threshold factor as to the inclusion
of information required by Rule 3-05 and Article 11 of Regulation S-X. The Company has determined that the acquisition is not probable,
and the Company therefore limits its response to the issue of probability and does not respond to the Staff&rsquo;s inquiry regarding
significance for the purposes of Rule 3-05(b)(4)(i) at this time. Disclosure of the information required by Rule 3-05 and Article
11 of Regulation S-X is not required, and the Company should therefore be permitted to go effective upon receipt of Staff approval.</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I>&nbsp;</I></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify"><I></I></P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="border-collapse: collapse; font: 10pt Times New Roman, Times, Serif; width: 100%">
<TR STYLE="vertical-align: top; text-align: left">
    <TD STYLE="width: 56%">&nbsp;</TD>
    <TD STYLE="width: 44%">&nbsp;</TD></TR>
<TR STYLE="vertical-align: top; text-align: left">
    <TD>&nbsp;</TD>
    <TD>Very
truly yours,</TD></TR>
<TR STYLE="vertical-align: top; text-align: left">
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD></TR>
<TR STYLE="vertical-align: top; text-align: left">
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD></TR>
<TR STYLE="vertical-align: top; text-align: left">
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD></TR>
<TR STYLE="vertical-align: top; text-align: left">
    <TD>&nbsp;</TD>
    <TD>Darrin
Ocasio Esq.</TD></TR>
<TR STYLE="vertical-align: top; text-align: left">
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD></TR>
<TR STYLE="vertical-align: top; text-align: left">
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD></TR>
<TR STYLE="vertical-align: top; text-align: left">
    <TD>&nbsp;</TD>
    <TD>Cc: Pareteum Corporation</TD></TR>
</TABLE>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 6in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 6in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 6in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 6in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 6in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 6in">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; margin-left: 0in; text-indent: 0in; text-align: justify"></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin: 0pt 0">&nbsp;&nbsp;</P>

<P STYLE="margin: 0">&nbsp;</P>

<P STYLE="margin: 0"></P>

<P STYLE="font: 10pt Times New Roman, Times, Serif; margin-top: 0pt; margin-bottom: 0pt; text-align: center">1185 Avenue of the Americas <FONT STYLE="color: #548DD4">|</FONT>
37<SUP>th</SUP> Floor <FONT STYLE="color: #548DD4">|</FONT> New York, NY <FONT STYLE="color: #548DD4">|</FONT> 10036</P>

<P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt">T (212) 930 9700 <FONT STYLE="color: #548DD4">|</FONT> F (212) 930 9725 <FONT STYLE="color: #548DD4">|
<B>WWW.SRFKLLP.COM</B></FONT></P>



<P STYLE="margin: 0"></P>

<P STYLE="margin: 0"></P>

<!-- Field: Page; Sequence: 5; Options: Last -->
    <DIV STYLE="margin-top: 12pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt">&nbsp;</P></DIV>
    <!-- Field: /Page -->

<P STYLE="margin: 0"></P>

</BODY>
</HTML>